* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    }

header {
    background-color: #333;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav .logo {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347;
}

.banner {
    background-size: cover;
    color: rgb(0, 0, 0);
    padding: 60px 20px;
    text-align: center;
}

.banner-content h1 {
    font-size: 48px;
}

.banner-content p {
    font-size: 24px;
}

.games {
    padding: 40px 20px;
    text-align: center;
}

.games h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.game-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.game-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s;
}

.game-card img {
    width: 100%;
    border-radius: 10px;
}

.game-card h3 {
    font-size: 20px;
    margin-top: 10px;
}

.game-card:hover {
    transform: translateY(-10px);
}

.about {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.castlevania {
    padding: 40px 20px;
    text-align: center;
}

.castlevania h1 {
    font-size: 30px;
}
.castlevania  h3 {
    font-size: 20px;
    text-align: justify;
}

.castlevania h4 {
    font-size: 15px;
    text-align: left;
}

.castlevania-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.castlevania-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s;
}

.castlevania-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.castlevania-card h3 {
    font-size: 50px;
}

.castlevania-card:hover {
    transform: translateY(-10px);
}


.novojogo-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 560px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    margin: 0;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input:focus, textarea:focus {
    border-color: #3498db;
    outline: none;
}

#salvar {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

 #cancelar {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

#salvar:hover {
    background-color: #20540a;
}

#cancelar:hover {
    background-color: #fc0000;
}


.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-group input:focus {
    border-color: #007BFF;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.novousuario-btn {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #129a15;
}

.novousuario-btn:hover {
    background-color: #129a15;
}


.cadastro-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    margin: 0;
}

.cadastro-btn {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cadastro-btn:hover {
    background-color: #218838;
}


/* Estilos para telas médias (tablets) */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
    /* Ajuste de outros elementos, por exemplo, fontes menores */
    body {
        font-size: 14px;
    }
}

/* Estilos para telas pequenas (celulares) */
@media (max-width: 480px) {
    .container {
        padding: 10px;
    }
    body {
        font-size: 12px;
    }
}
