* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    display: flexbox;
}

header {
    background-color: orange;
    padding: 10px 0;
    width: 10px;
    width: 155px; 
    height: 800px; 
    flex-direction: column;
    position: fixed;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.games {
    padding: 40px 20px;
    text-align: center;
}

.games h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.game-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.game-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s;
}

.game-card img {
    width: 100%;
    border-radius: 10px;
}

.game-card h3 {
    font-size: 20px;
    margin-top: 10px;
}

.game-card:hover {
    transform: translateY(-10px);
}

.about {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
}

footer {
    background-color: orange;
    color: #000000;
    padding: 55px;
    text-align: center;
}

#menu-toggle{
    display: none;
}

.menu {
    display: none;
}

.menu > a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1px;
    margin: 5px;
    width: 80px;
    text-align: center;
}

#menu-toggle:checked ~ .menu{
    display: flex;
    justify-content: first baseline;
}

.hamburger-menu{
    cursor: pointer;
}
